#taskList {
    list-style: none;
    padding-left: 0px;
}

#taskList div{
    list-style: none;
    transition: all 0.2s 0s ease;
    user-select: none;
    cursor: pointer;
}

#taskList span {
    transition: all 0.2s 0s ease;
}

#taskList span.done {
    transition: all 0.2s 0s ease;
    text-decoration: line-through;
    color: #d3d3d3;
}

#taskList span.hidden {
    opacity: 0;
}


#taskList input.task-done-checkbox {
    accent-color: #8ad246;
}